<table class="table">
    <thead>
      <tr>
        <th scope="col">Task name</th>
        <th scope="col">Category</th>
        <th scope="col">Priority</th>
        <th scope="col">Creation Date</th>
        <th scope="col">Due Date</th>
        <th scope="col">Comments</th>
        <th scope="col">Subtask</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of taskLists">
        <td>{{item.task}}</td>
        <td>{{item.category}}</td>
        <td>{{item.priority}}</td>
        <td>{{item.creationDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{item.dueDate | date: 'MM/dd/yyyy'}}</td>
        <td >{{item.comment}}</td>
        <td *ngIf="item.subtask.length >= 1;else noTask">{{item.subtask[0].task}}</td>
        <ng-template #noTask>
          <td>No subtask</td>
        </ng-template>
        <div class="container">
          <button type="button"  routerLink="/edit-task" [state]="item" routerLinkActive="router-link-active" class="btn shadow-none"><img src="../../../assets/shared/pencil.png" id="editTask"></button>
          <button type="button" class="btn shadow-none" (click)="deleteTask(item, content)"><img src="../../../assets/shared/delete.png" alt="deleteTask" id="deleteTask"></button>
        </div>
      </tr>
    </tbody>
  </table>

  <!-- Modal for the delete confirmation -->
  <ng-template #content delete-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete confirmation!</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this task?</p>
      <div class="container" id="containerBtnsConfirm">
        <button type="button" class="primary" (click)="confirmDelete()" id="confirmBtn">Confirm</button>
      <button type="button" (click)="close()" id="cancelBtn">Cancel</button>
      </div>      
    </div>
  </ng-template>