
<form autocomplete="off" [formGroup]="taskForm" (ngSubmit)="submit(invalidForm)" >
    <div class="form-group">
        <label for="taskTitle">Task Title:</label>
        <br>
        <input type="text" name="taskName" formControlName="task" id="taskName" placeholder="Task Title" required>
        <span *ngIf="taskForm.get('task').touched && taskForm.get('task').status == 'INVALID'" class="warning w-50">
            <ngb-alert [dismissible]="false">Enter the tittle of the task</ngb-alert>
        </span>
    </div>
    <div class="form-group">
        <label for="taskCategory">Category:</label>
        <br>
        <input type="text" name="taskCategory" id="taskCategory" formControlName="category" placeholder="Category" required>
        <span *ngIf="taskForm.get('category').touched && taskForm.get('category').status == 'INVALID'" class="warning">
            <ngb-alert [dismissible]="false">Enter the category for this task</ngb-alert>
        </span>
    </div>
    <div class="form-group">
        <label for="Priority">Priority:</label>
        <br>
        <select id="priority" name="priority" class="form-control" formControlName="priority" required>
            <option *ngFor="let item of priority" [value]="item.name" >{{ item.name }}</option>
        </select>
        <span *ngIf="taskForm.get('priority').touched && taskForm.get('priority').status == 'INVALID'" class="warning">
            <ngb-alert [dismissible]="false">Enter the priority of the task</ngb-alert>
        </span>
    </div>
    <div class="form-group">
        <label for="taskTitle">Due date</label>
        <br>
        <input type="date" name="dueDate" id="dueDate" formControlName="dueDate" placeholder="Due Date" required>
        <span *ngIf="taskForm.get('dueDate').touched && taskForm.get('dueDate').status == 'INVALID'" class="warning"><ngb-alert [dismissible]="false">Enter the Due date of the task</ngb-alert></span>
    </div>
    <div class="form-group">
        <label for="comment">Comments</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="10" formControlName="comment"></textarea>
    </div>
    <button type="button" class="btn btn-warning" id="btnSubtask" >Add sub-task</button>
    
    <div class="form-group">
        <button type="submit" class="btn btn-info" id="btnSubmit"> Submit </button>
        <button type="button" (click)="clearInput()" class="btn btn-danger" id="btnClear">Clear</button>
    </div>

    <ng-template #invalidForm let-modal id="invalidForm">
        <div class="modal-header">
          <h2 class="modal-title" id="modal-basic-title">Form Error!</h2>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <p>The form has one or more required fields empty.</p>
                <p>Please verify the fields and fill them as expected!</p>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('click')">Close</button>
        </div>
      </ng-template>
</form>
