input, select{
    margin-bottom: 1%;
}

#btnSubtask{
    margin-bottom: 2rem;
}

#btnSubmit{
    margin-right: 0.9rem;
}

ngb-alert, select{
    max-width: 30%;
}

h2.modal-title{
    font-size: 5rem;
    color: red;
}